html {
  background: blue;
  font-family: monospace;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
}

.product-image {
  height: 300px;
  max-width: 300px;
  overflow: hidden;
  display: inline-block;
}

#image_container {
  width: 80%;
  text-align: center;
  margin: auto;
  background: white;
  border: red double 2px;
}

canvas {
  margin: auto;
  background: white;
  border: red double 2px;
}

.instructions {
  width: 80%;
  margin: auto;
}

.bus-image {
  margin-top: 20px;
}
